{% extends 'base.html' %} {% block content %}
<div class="pt-5">
	<div class="message-box mx-auto">
		<h2 class="invite-code mx-auto">Room: {{code}}</h2>
		<!-- <div class="users">
			{% if users %} {% for user in users %}
			<div class="user">{{user.name}}</div>
			{% endfor %} {% endif %}
		</div> -->
		<div class="messages" id="messages"></div>
		<div class="inputs">
			<input
				type="text"
				rows="3"
				placeholder="message"
				name="message"
				id="message"
				class="form-control mr-1"
			/>
			<button
				type="button"
				name="send"
				id="send-btn"
				class="btn btn-primary"
				onclick="sendMessage()"
			>
				Send Message
			</button>
		</div>
	</div>
</div>
<script>
	var socketio = io();

const messages = document.getElementById("messages");

const createMessage = (name, msg, time) => {
	const content = `
		<div class='text'>
			<span>
				<strong>${name}</strong>: ${msg}
			</span>
			<span class='muted'>
				${time}
			</span>
		</div>
	`;
	messages.innerHTML += content;
};

socketio.on("message", (data) => {
	createMessage(data.name, data.message, data.date);
});
const sendMessage = () => {
	const message = document.getElementById("message");
	if (message.value === "") return;
	socketio.emit("sendingMessage", { message: message.value });
	message.value = "";
};

document.getElementById("message").addEventListener("keyup", (event) => {
	if (event.keyCode === 13) {
		event.preventDefault();
		document.getElementById("send-btn").click();
	}
});
</script>
{% for msg in messages%}
<script type="text/javascript">
	createMessage("{{msg.user.name}}", "{{msg.text}}", "{{msg.created_at}}");
</script>
{% endfor %}
{% endblock %}
